# Python
__pycache__/
*.py[cod]
.venv/
env/

# Büyük Veri ve Model Dosyaları
data/Train/
data/Test/
input/
models/*.pth
*.npy
*.npz

# Submission Klasörleri (Burayı güncelledim)
output/
output_submission/
models/output/

# Büyük TSV/CSV dosyaları (Garanti olsun diye)
*.tsv
*.csv

# Editör Ayarları
.vscode/
.idea/